@import url('./_active/header__lang-link_active.css');

.header__lang-link {
  color: #fff;
  text-decoration: none;
}

.header__lang-link:hover {
  color: #808080;
  opacity: .8;
  transition: all 2s;
}





