.places__website-link {
  display: block;
  margin: 12px 0 6px;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  text-underline-position: under;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
}

.places__website-link:hover {
  opacity: 0.8;
  transition: all 2s;
}
