.cover__subtitle {
  margin: 24px auto 0;
  max-width: 360px;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  color: #FFFDFD;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
}

@media all and (min-width: 425px) and (max-width: 767px) {
  .cover__subtitle {
    max-width: 390px;
    font-size: 17px;
    line-height: 21px;
  }
}

@media all and (max-width: 424px) {
  .cover__subtitle {
    max-width: 270px;
    font-size: 14px;
    line-height: 16px;
  }
}

