.places__text {
  margin-top: -2px;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
}

@media all and (max-width: 424px) {
  .places__text {
    max-width: 288px;
    padding: 0 2% 0;
  }
}
