.lead__title {
  margin: 0 auto 0;
  text-align: center;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 900;
}

@media all and (min-width: 1280px) {
  .lead__title {
    max-width: 720px;
    font-size: 96px;
    line-height: 100px;
  }
}

@media all and (min-width: 1024px) and (max-width: 1279px) {
  .lead__title {
    max-width: 720px;
    font-size: 96px;
    line-height: 100px;
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .lead__title {
    max-width: 720px;
    font-size: 96px;
    line-height: 100px;
  }
}

@media all and (min-width: 425px) and (max-width: 767px) {
  .lead__title {
    max-width: 420px;
    font-size: 56px;
    line-height: 60px;
  }
}

@media all and (max-width: 424px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}
