.intro__text {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
}

@media all and (min-width: 1280px) {
  .intro__text {
    margin: 33px 0 0;
    font-size: 16px;
    line-height: 26px;
    max-width: 690px;
  }
}

@media all and (min-width: 1024px) and (max-width: 1279px) {
  .intro__text {
    margin: 33px 0 0;
    font-size: 16px;
    font-size: 16px;
    line-height: 26px;
    max-width: 690px;
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .intro__text {
    margin: 33px 0 0;
    font-size: 16px;
    line-height: 26px;
    max-width: 720px;
  }
}

@media all and (max-width: 767px) {
  .intro__text {
    margin: 35px 0 0;
    font-size: 16px;
    line-height: 26px;
  }
}
