@import url('./__overlay/cover__overlay.css');
@import url('./__title/cover__title.css');
@import url('./__subtitle/cover__subtitle.css');

.cover {
  margin: 0 auto 0;
  padding: 5px 0 0;
  max-width: 1184px;
  background-image: url('../../images/cover-trains.jpg');
  background-position: 0 5px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .cover {
    margin: 85px auto 0;
  }
}

@media all and (max-width: 424px) {
  .cover {
    margin: 64px auto 0;
  }
}
