.lead__image-caption {
  margin: 3px 0 0;
  letter-spacing: 0.15em;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
}

@media all and (min-width: 1024px) and (max-width: 1279px) {
  .lead__image-caption {
    margin: 3px 0 0 -1px;
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .lead__image-caption {
    margin: 3px 0 0 15px;
  }
}

@media all and (min-width: 425px) and (max-width: 767px) {
  .lead__image-caption {
    margin: 3px 0 0 16px;
  }
}

@media all and (max-width: 424px) {
  .lead__image-caption {
    margin: 3px 0 0 16px;
  }
}
