.places__place {
  display: grid;
}

@media all and (min-width: 1280px) {
  .places__place {
    grid-template-columns: 460px 485px;
    grid-gap: 40px;
    margin-bottom: 88px;
  }
}

@media all and (min-width: 1024px) and (max-width: 1279px) {
  .places__place {
    grid-template-columns: 440px 456px;
    grid-column-gap: 31px;
    grid-row-gap: 40px;
    margin-bottom: 87px;
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .places__place {
    grid-template-columns: 340px 352px;
    grid-column-gap: 28px;
    grid-row-gap: 45px;
    margin-bottom: 75px;
  }
}

@media all and (min-width: 425px) and (max-width: 767px) {
  .places__place {
    grid-template-columns: 100%;
    grid-row-gap: 30px;
    margin-bottom: 75px;
  }
}

@media all and (min-width: 320px) and (max-width: 424px) {
  .places__place {
    margin-top: 67px;
    grid-template-columns: 100%;
    grid-row-gap: 30px;
  }
}
