.cover__overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: rgba(42, 44, 47, .3);
}

.cover__overlay:hover {
  cursor: pointer;
  background-color: rgba(42, 44, 47, .8);
  transition: all 2s;
}

@media all and (min-width: 1280px) {
  .cover__overlay {
    min-height: 740px;
  }
}

@media all and (min-width: 1024px) and (max-width: 1279px) {
  .cover__overlay {
    min-height: 640px;
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  .cover__overlay {
    min-height: 483px;
  }
}

@media all and (min-width: 425px) and (max-width: 767px) {
  .cover__overlay {
    min-height: 267px;
  }
}

@media all and (max-width: 424px) {
  .cover__overlay {
    min-height: 201px;
  }
}
